* {
    box-sizing: border-box;
} 
body {
    margin: 0;
    font-family: Arial, sans-serif;
} 
.gallery {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.gallery::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

.gallery img {
    width: 100%;
    height: auto;
    scroll-snap-align: start;
    flex: 0 0 auto;
}